
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    background-color:rgba(44, 105, 141,0.5);
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 50px;
    align-items: center;
}
a:link {
    text-decoration: none;
  }
.body{
    
    background-image: url("/resources/S_841_081110.jpg");
    
     
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

/* ___________________signup_______________________________________________________________________________ */

.form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:auto;
border: 1px black solid;
width: fit-content;
padding: 5px;
margin-top: 100px;
width: 300px;
}
.signup{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:25px;


}




/* ______________________________________________________________________________________________ */
.Doctor {
    position: relative;
  }
  
  .burgermenu {
    display: none;
    position: absolute;
    top: 100%;
     
    background-color: #979090;
     
    width: 100px;
    margin-right: 100px;
  }
  
  .Doctor:hover .burgermenu {
    display: block;
  }
  /* _______________________________________________________________________________________ */
  .footer-container{
    display: flex;
    justify-content: space-between;
    background-color:rgba(44, 105, 141,0.5);
    margin-top: 18px
}

.footer-container > * {
    margin: 10px 50px
}

.footer-container img{
    width: 200px;
    height : 100px;
}
/* _________________________________________________________ */
.footer_left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}

 